In [7]:
import pandas as pd
from random import randint
from faker import Faker
fake = Faker()

In [2]:
numbers = [randint(-50,50) for i in range(15)]

In [3]:
s = pd.Series(numbers)

In [4]:
s

0     14
1    -22
2     34
3     10
4     50
5     22
6    -20
7    -13
8     32
9    -27
10    -9
11    23
12    -4
13    41
14     6
dtype: int64

#inplace позволяет сохранить сортировку в туже переменную (в отличии от s=s когда меняется память переменной s)

In [5]:
s.sort_values(inplace = True)

9    -27
1    -22
6    -20
7    -13
10    -9
12    -4
14     6
3     10
0     14
5     22
11    23
8     32
2     34
13    41
4     50
dtype: int64

In [6]:
s.sort_values(ascending = False) #обратная сортировка

4     50
13    41
2     34
8     32
11    23
5     22
0     14
3     10
14     6
12    -4
10    -9
7    -13
6    -20
1    -22
9    -27
dtype: int64

In [8]:
fake.name()

'James Chapman'

In [9]:
names = [fake.name() for i in range(15)]

In [10]:
names

['Raymond Alvarado',
 'Abigail Hurst',
 'Erin Arroyo',
 'Craig Dudley',
 'Robert Washington',
 'Tony Oliver',
 'Joseph Hill',
 'Dawn Bartlett',
 'Robert Wagner',
 'Michael Mcmillan',
 'Andrew Johnson',
 'Patricia Ritter',
 'Kristen Stone',
 'Theresa Crawford DDS',
 'Timothy Barker']

In [11]:
n = pd.Series(names)

In [12]:
n

0         Raymond Alvarado
1            Abigail Hurst
2              Erin Arroyo
3             Craig Dudley
4        Robert Washington
5              Tony Oliver
6              Joseph Hill
7            Dawn Bartlett
8            Robert Wagner
9         Michael Mcmillan
10          Andrew Johnson
11         Patricia Ritter
12           Kristen Stone
13    Theresa Crawford DDS
14          Timothy Barker
dtype: object

In [13]:
n.sort_values(inplace = True)

In [14]:
n

1            Abigail Hurst
10          Andrew Johnson
3             Craig Dudley
7            Dawn Bartlett
2              Erin Arroyo
6              Joseph Hill
12           Kristen Stone
9         Michael Mcmillan
11         Patricia Ritter
0         Raymond Alvarado
8            Robert Wagner
4        Robert Washington
13    Theresa Crawford DDS
14          Timothy Barker
5              Tony Oliver
dtype: object