In [2]:
import pandas as pd
from random import randint
from faker import Faker
fake = Faker()

In [14]:
numbers = [fake.date() for i in range(15)]
names = [fake.name() for i in range(15)]

In [15]:
a = pd.Series(numbers)

In [16]:
a.sort_values(inplace=True)
a

13    1971-02-27
10    1976-02-03
2     1976-06-19
7     1981-08-09
1     1988-07-09
5     1988-08-16
6     1989-01-17
0     1998-12-10
4     2005-03-07
9     2005-11-26
8     2006-06-13
3     2006-08-04
14    2014-09-18
12    2014-11-21
11    2017-03-16
dtype: object

In [17]:
a.sort_index(inplace=True)
a

0     1998-12-10
1     1988-07-09
2     1976-06-19
3     2006-08-04
4     2005-03-07
5     1988-08-16
6     1989-01-17
7     1981-08-09
8     2006-06-13
9     2005-11-26
10    1976-02-03
11    2017-03-16
12    2014-11-21
13    1971-02-27
14    2014-09-18
dtype: object

In [18]:
b = pd.Series(numbers,index=names)
b

Roger West MD         1998-12-10
Jeremy Mathews        1988-07-09
Antonio Watson        1976-06-19
Valerie Cox           2006-08-04
Timothy Garcia        2005-03-07
Kimberly Schneider    1988-08-16
Oscar Rush            1989-01-17
Tara Hays MD          1981-08-09
John Jackson          2006-06-13
Eric Hill             2005-11-26
Michael Watson MD     1976-02-03
Heather Mclaughlin    2017-03-16
Sean Vasquez          2014-11-21
Phillip Parker        1971-02-27
Natalie Smith         2014-09-18
dtype: object

In [19]:
b.sort_index()

Antonio Watson        1976-06-19
Eric Hill             2005-11-26
Heather Mclaughlin    2017-03-16
Jeremy Mathews        1988-07-09
John Jackson          2006-06-13
Kimberly Schneider    1988-08-16
Michael Watson MD     1976-02-03
Natalie Smith         2014-09-18
Oscar Rush            1989-01-17
Phillip Parker        1971-02-27
Roger West MD         1998-12-10
Sean Vasquez          2014-11-21
Tara Hays MD          1981-08-09
Timothy Garcia        2005-03-07
Valerie Cox           2006-08-04
dtype: object

In [20]:
b.sort_values()

Phillip Parker        1971-02-27
Michael Watson MD     1976-02-03
Antonio Watson        1976-06-19
Tara Hays MD          1981-08-09
Jeremy Mathews        1988-07-09
Kimberly Schneider    1988-08-16
Oscar Rush            1989-01-17
Roger West MD         1998-12-10
Timothy Garcia        2005-03-07
Eric Hill             2005-11-26
John Jackson          2006-06-13
Valerie Cox           2006-08-04
Natalie Smith         2014-09-18
Sean Vasquez          2014-11-21
Heather Mclaughlin    2017-03-16
dtype: object