In [12]:
import pandas as pd
from random import randint, shuffle
from string import ascii_lowercase

In [2]:
numbers = [randint(-50,50) for i in range(26)]

In [21]:
s = pd.Series(numbers)
letters = pd.Series(numbers, index=ind)

In [10]:
s[10:2:-1]

10    22
9    -38
8    -20
7     42
6    -41
5    -32
4    -34
3    -23
dtype: int64

In [5]:
s

0    -34
1    -10
2     -8
3    -23
4    -34
5    -32
6    -41
7     42
8    -20
9    -38
10    22
11   -34
12   -32
13    -5
14   -42
15     6
16   -37
17    32
18    40
19     2
20     7
21    42
22   -48
23   -38
24    20
25   -34
dtype: int64

In [13]:
ind = list(ascii_lowercase)

In [16]:
letters

a   -34
b   -10
c    -8
d   -23
e   -34
f   -32
g   -41
h    42
i   -20
j   -38
k    22
l   -34
m   -32
n    -5
o   -42
p     6
q   -37
r    32
s    40
t     2
u     7
v    42
w   -48
x   -38
y    20
z   -34
dtype: int64

In [17]:
letters['a':'f']

a   -34
b   -10
c    -8
d   -23
e   -34
f   -32
dtype: int64

In [18]:
shuffle(ind)

In [19]:
ind

['m',
 'o',
 'h',
 'r',
 'x',
 'v',
 't',
 'd',
 'l',
 'f',
 'n',
 'p',
 'e',
 'i',
 'y',
 'q',
 'u',
 'g',
 'z',
 'c',
 'b',
 'a',
 'w',
 's',
 'k',
 'j']

In [22]:
letters

m   -34
o   -10
h    -8
r   -23
x   -34
v   -32
t   -41
d    42
l   -20
f   -38
n    22
p   -34
e   -32
i    -5
y   -42
q     6
u   -37
g    32
z    40
c     2
b     7
a    42
w   -48
s   -38
k    20
j   -34
dtype: int64

In [24]:
letters['d':'e']

d    42
l   -20
f   -38
n    22
p   -34
e   -32
dtype: int64