In [1]:
import pandas as pd
from random import randint, choice

In [18]:
nums = [randint(-50,50) for i in range(10)]
indexes = [choice([0,1,2,3]) for i in range(10)]
alpha = [choice('abcd') for i in range(10)]

In [19]:
s = pd.Series(nums)
s_not_unique = pd.Series(nums, indexes)
s_not_unique_alpha = pd.Series(nums, alpha)

In [5]:
s

0     7
1    -3
2   -38
3   -11
4    19
5   -43
6   -30
7    42
8    46
9     7
dtype: int64

In [4]:
nums

[7, -3, -38, -11, 19, -43, -30, 42, 46, 7]

In [8]:
indexes

[1, 1, 3, 0, 1, 0, 1, 0, 2, 2]

In [9]:
s_not_unique

1    12
1    -8
3    17
0   -15
1   -17
0   -24
1    47
0     2
2    35
2    36
dtype: int64

In [10]:
s_not_unique.iloc[[2,1,9]]

3    17
1    -8
2    36
dtype: int64

In [14]:
s_not_unique.loc[[2,1]]

2    35
2    36
1    12
1    -8
1   -17
1    47
dtype: int64

In [15]:
s_not_unique.loc[3] = 100

In [16]:
s_not_unique

1     12
1     -8
3    100
0    -15
1    -17
0    -24
1     47
0      2
2     35
2     36
dtype: int64

In [20]:
s_not_unique_alpha

b   -25
a   -35
c    -6
c    -1
c   -44
d    22
b   -10
c   -32
b   -18
a    12
dtype: int64

In [22]:
s_not_unique_alpha.iloc[[2,1]]

c    -6
a   -35
dtype: int64

In [24]:
s_not_unique_alpha.loc[['a','c']]

a   -35
a    12
c    -6
c    -1
c   -44
c   -32
dtype: int64